/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/design-system/tokens-shared.css");

/* This should be @media not (forced-colors), but that doesn't apply in browser chrome */
@media not ((prefers-contrast) and (-moz-platform: windows)) {
  :root,
  :host(.anonymous-content-host) {
    /* Base */
    /* Do not use base tokens directly as they don't carry any meaning and are used to set our base. Refer to Application tokens below. */
    /* Typography */
    /** Font size **/
    --font-size-root: unset;
    --font-size-small: unset;
    --font-size-large: unset;
    --font-size-xlarge: unset;
    --font-size-xxlarge: unset;

    /* Application */
    /* Border */
    --border-interactive-color: color-mix(in srgb, currentColor 15%, var(--color-gray-60));

    /* Button */
    --button-background-color: color-mix(in srgb, currentColor 13%, transparent);
    --button-background-color-hover: color-mix(in srgb, currentColor 17%, transparent);
    --button-background-color-active: color-mix(in srgb, currentColor 30%, transparent);
    --button-text-color: currentColor;
    --button-text-color-primary: AccentColorText;

    --button-background-color-destructive: #e22850;
    --button-background-color-destructive-hover: #c50042;
    --button-background-color-destructive-active: #810220;
    --button-text-color-destructive: #fbfbfe;

    /* Color */
    --color-accent-primary: AccentColor;
    --color-accent-primary-hover: color-mix(in srgb, black 10%, AccentColor);
    --color-accent-primary-active: color-mix(in srgb, black 20%, AccentColor);
    --color-canvas: Canvas;

    /** Font weight **/
    --font-weight-light: unset;

    /** Line height **/
    --line-height-small: unset;
    --line-height-default: normal;

    /** Link **/
    --link-color: LinkText;
    --link-color-hover: LinkText;
    --link-color-active: ActiveText;
    --link-color-visited: var(--link-color);

    /* Text */
    --text-color: currentColor;
  }
}
