/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace html url("http://www.w3.org/1999/xhtml");

#editBookmarkPanel > .panel-subview-body {
  padding-bottom: 0;
}

/* Implements editBookmarkPanel resizing on folderTree un-collapse. */
#editBMPanel_folderTree {
  min-width: 27em;
}

#editBookmarkPanel > #editBookmarkHeaderSeparator {
  margin-bottom: 0;
  margin-inline: 16px;
}

#editBookmarkPanel {
  font: caption;
}

#editBookmarkPanelContent > label:not(.editBMPanel_nameRow) {
  padding-top: var(--arrowpanel-padding);
}

#editBookmarkPanelContent > #editBMPanel_folderTreeRow,
#editBookmarkPanelContent > #editBMPanel_folderTreeRow > #editBMPanel_newFolderBox,
#editBookmarkPanelContent > #editBMPanel_tagsSelectorRow {
  padding-top: 4px;
}

#editBookmarkPanelContent label[control] {
  margin: 0;
  margin-bottom: 4px;
}

#editBookmarkPanel .caption-label {
  display: none;
}

#editBookmarkPanelContent {
  padding: 0.8em var(--arrowpanel-padding) var(--arrowpanel-padding);
}

#editBMPanel_selectionCount {
  padding-top: 0.8em;
}

#editBookmarkPanelBottomContent {
  padding: 0 var(--arrowpanel-padding) calc(var(--arrowpanel-padding) / 2);
}

#editBookmarkPanelBottomContent > checkbox {
  margin-inline-start: 0;
}

#editBookmarkPanel_showForNewBookmarks > .checkbox-label-box > .checkbox-label {
  opacity: 0.7;
}

#editBookmarkPanel .expander-up,
#editBookmarkPanel .expander-down {
  margin-inline-start: 4px;
}

#editBookmarkPanel .expander-up::part(button) {
  background-image: url("chrome://global/skin/icons/arrow-up.svg");
}

#editBookmarkPanel .expander-down::part(button) {
  background-image: url("chrome://global/skin/icons/arrow-down.svg");
}

#editBMPanel_folderMenuList {
  margin: 0;
}

#editBookmarkPanelContent > html|input,
#editBookmarkPanelContent > hbox > html|input {
  appearance: none;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--input-border-color, ThreeDShadow);
  background-color: var(--input-bgcolor, Field);
  color: var(--input-color, FieldText);
  margin: 0;
}

/* Focus outlines */

#editBMPanel_folderTree:focus-visible,
#editBMPanel_tagsSelector:focus-visible,
#editBookmarkPanelContent > html|input:focus-visible,
#editBookmarkPanelContent > hbox > html|input:focus-visible {
  outline: var(--focus-outline);
}
